{% extends 'blog/base.html' %}

{% block title %}
     404
{% endblock %}

{% block content %}
    <div class="container center">
        <a href="{% url 'threads' %}"><div class="Channel"><h1>@Channel</h1></div></a>
        <div class="popular">
            <div class="header">❏ Error page</div>
            <div class="text">
            <p> It seems that you are looking for something here...However, it doesn't exist now. If you are sure that
                this is the correct link, try to change world-line/world-layer.<br> Ps. 4nmus
            </p>
        </div>
    </div>
  </div>
{% endblock %}




