{% extends 'blog/base.html' %}

{% block title %}
     500
{% endblock %}

{% block content %}
    <div class="container center">
    <a href="{% url 'threads' %}"><div class="Channel"><h1>@Channel</h1></div></a>
    <div class="popular">
        <div class="header">❏ Error page</div>
        <div class="text">
            <p> Hmm...that's unexpected. Probably, the organization is trying to take us down with a sophisticated attack.
            We will be back as soon as possible!<br> Ps. 4nmus
            </p>
        </div>
    </div>
  </div>
{% endblock %}
