{% extends 'blog/base.html' %}

{% block content %}
    <div class="container center">
        <a href="{% url 'threads' %}"><div class="Channel"><h1>@Channel</h1></div></a>
        <div class="thread">
            <div class="header">❏ DEVELOPMENT ❏</div>
            <h2>Currently under inactive development </h2>
            <br>
            <a href="https://github.com/4nmus"><h2>4nmus</h2></a>
            <p>Dr.Pepper enjoyer</p>
            <br>
            <a href="https://github.com/Loke-60000"><h2>Lokman</h2></a>
            <p>Amadeus Reborn Project leader</p>
        </div>
    </div>
{% endblock %}
