<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="static/blog/main.css">


</head>
<body>
  <div class="container center">
        <a href="{% url 'threads' %}"><div class="Channel"><h1>@Channel</h1></div></a>
        <div class="thread">
            <div class="header">❏ About ❏</div>
                <p> This is a free-speech forum only for high-intellectual anons. Kindly ask different organizations to stay away!
                Dr.Pepper enjoyers and World-layer drifters are welcome.
                </p>
        </div>
        <div class="thread">
            <div class="header">❏ DEVELOPMENT ❏</div>
            <h2>Currently under inactive development </h2>
            <br>
            <a href="https://github.com/4nmus"><h2>4nmus</h2></a>
            <p>Dr.Pepper enjoyer</p>
            <br>
            <a href="https://github.com/Loke-60000"><h2>Lokman</h2></a>
            <p>Amadeus Reborn Project leader</p>
        </div>
    </div>
</body>
</html>