{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>All posts from user {{ view.kwargs.username }}</h2>
    <h3>Num of posts: {{ page_obj.paginator.count }}</h3>
    <h1>{{ title }}</h1>
    {% for post in news %}
        <div class="post">
            <p>{{ post.id }} &nbsp;Name: <a href="{% url 'user-comment' post.author %}">{{ post.author }}</a><span class="text-muted" >&nbsp; :{{ post.date|date:"Y/m/d H:i:s" }}</span></p>
            <p>{{ post.text|striptags }}</p>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="{% url 'home-page' %}" class="btn btn-outline-warning">Main</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning">Previous</a>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <button class="btn btn-warning">{{ page }}</button>
            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                <a href="?page={{ page }}" class="btn btn--outline-warning">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}
