{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container bg-light">
        <h1 class="text-center">{{ title }}</h1>
        {% for post in news %}
            <div class="alert alert-dark">
                <h3>{{ post.title }}</h3>
                <p>{{ post.text|truncatechars:200|striptags }}</p>
                <div class="row">
                    <div>
                        <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class="user_images" >
                    </div>
                    <div class="mt-2">
                        <span class="text-muted" >published: {{ post.date|date:"d E Y H:i" }}</span>
                        {% if post.author %}
                            <p>Author: <a href="{% url 'user-news' post.author %}">{{ post.author }}</a></p>
                        {% else %}
                            <p>Author: <b>Anonymous</b>, date: {{ post.date|date }}</p>
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning">Read full </a>
            </div>
        {% endfor %}

        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="{% url 'home-page' %}" class="btn btn-outline-warning">Main</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning">Previous</a>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <button class="btn btn-warning">{{ page }}</button>
                {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                    <a href="?page={{ page }}" class="btn btn--outline-warning">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning">Last</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
