{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
/* replace post to object if smth doesnt work!*/
    <h1>{{ title }}</h1>
        <div class="alert alert-dark">
            <h3>{{ post.title }}</h3>
            <p>{{ post.text|safe }}</p>
            <div class="row">
                <div>
                    <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class="user_images" >
                </div>
                <div class="mt-2">
                    <span class="text-muted" >published: {{ post.date|date:"d E Y H:i" }}</span>
                    {% if post.author %}
                        <p>Author: <a href="{% url 'user-comment' object.author %}">{{ object.author }}</a></p>
                    {% else %}
                        <p>Author: <b>Anonymous</b>, date: {{ post.date|date }}</p>
                    {% endif %}
                </div>
            </div>
            {% if object.author == user %}
            <hr>
            <a href="{% url 'comment-update' object.id %}" class="btn btn-info">Update</a>
            <a href="{% url 'comment-delete' object.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
{% endblock %}
