{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container bg-light">
        <h1 class="text-center">{{ title }}</h1>

        <h2 class="text-center"><a href="{% url 'comment-add' title.id %}"><button class="btn btn-outline-secondary">add comment</button></a></h2>

        {% for post in news %}
            <div class="post">
                {% if post.author %}
                    <p>{{ post.id }} | Author: <a href="{% url 'user-comment' post.author %}">{{ post.author }}</a> | Rank: {{ post.author.rank.rank}} | <span class="text-muted" >published: {{ post.date|date:"d E Y H:i" }}</span></p>
                {% else %}
                    <p>{{ post.id }} | Author: <b>Anonymous</b> | <span class="text-muted" >published: {{ post.date|date:"d E Y H:i" }}</span></p>
                {% endif %}
                <p>{{ post.text|striptags }}</p>
                <div class="row">
                    <div>
                        {% if post.author %}
                        <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class="user_images" >
                        {% endif %}
                    </div>
                </div>
                <h2 class="text-center"><a href="{% url 'comment-reply' post.id %}"><button class="btn btn-outline-secondary">add reply</button></a></h2>

            </div>
        {% endfor %}

        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="{% url 'home-page' %}" class="btn btn-outline-warning">Main</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning">Previous</a>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <button class="btn btn-warning">{{ page }}</button>
                {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                    <a href="?page={{ page }}" class="btn btn--outline-warning">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning">Last</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}