{% extends 'blog/base.html' %}

{% block title %}
  Profile page
{% endblock %}

{% block content %}
    <h1>Profile page</h1>
    <h3><a href="{% url 'user-comment' user.username %}">See all posts</a></h3>
    <div>
        <strong>@{{ user.username }}</strong>
        <br>
        <b>Rank: {{ user.rank.rank }}</b>
        <p>
        {% if user.email %}
        Email:  {{ user.email}}
        {% else %}
        Email: hidden by CERN
        {% endif %}
        </p>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ updateUserForm.as_p }}
        {{ profileForm.as_p }}
        <button type="submit" class="btn">Update</button>
    </form>
{% endblock %}

