{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post" class="form-register">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-warning" type="submit">Register</button>
        <hr>
        <p>Already registered <a href="{% url 'user'%}">Login in</a></p>
    </form>

{% endblock %}

{% block aside_block %}
    <h4>Side part !</h4>
    <img src="../pictures/chan.png" class="img-thumbnail">
    <p>It's a great django website written without JS!</p>
{% endblock %}